@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: hsl(224, 65%, 95%);
    font-family: 'Manrope', sans-serif;
}
.container{
    max-width: 90%;
    max-height: 100vh;
    min-height: auto;
    text-align: center;
    display: grid;
    justify-self: center;
}
.description-text{
    background-image: url("images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    padding: 3em 1em 4em;
    background-position: 50% 20%;
}
.description-text h1{
    font-weight: 800;
    font-size: 1.3em;
    margin-bottom: 0.5em;
}
.description-text p{
    color: hsl(225, 20%, 60%);
    margin: 0 3.5em 0.3em;
}
.description-pricing{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 5px hsla(227, 35%, 25%, 0.295);
    color: hsl(225, 20%, 60%);
}
.description-pricing .pricing-header>p:first-child{
    letter-spacing: 3px;
}
.description-pricing p{
    margin:2em 0;
    font-weight: 800;
    font-size: 13px;
}
.mount-pricing-desktop{
    display: none;
}
.mount-pricing-mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mount-pricing-mobile span:first-child,.mount-pricing-mobile span:nth-child(2){
    margin: 0;
}
.mount-pricing-mobile span{
    font-size: 2.5em;
    color: black;
    font-weight: 800;
    margin-right: 10px;
}
.type-pricing{
    display: flex;
    justify-content: space-evenly;
    font-weight: 600;
    align-items: center;
}
.percent-desktop{
    display: none;
}
.type-pricing .percent-mobile{
    border: none;
    background-color: hsl(14, 92%, 95%);
    color: hsl(15, 100%, 70%);
    border-radius: 50px;
    padding: 3px 10px;
}
.bar-type-pricing{
    margin: 0 1em;
}
.bar-type-pricing input{
    appearance: none;
    background: hsl(174, 77%, 80%);
    height: 10px;
    outline: none;
    border-radius: 50px;
    width: 100%;
    margin-bottom: 1em;
}
.bar-type-pricing input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 35px;
    height: 35px;
    background-image: url("images/icon-slider.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: hsl(174, 86%, 45%);
    border-radius: 50px;
    padding: 1.5em;
    cursor: pointer;
    box-shadow: 0 3px 18px hsl(174, 86%, 45%);
}
.bar-type-pricing input::-webkit-slider-thumb:active{
    background-color: hsl(174, 79%, 40%);
}
.type-pricing-check{
    background-color: hsl(223, 50%, 87%);
    padding: 0 14px;
    border-radius: 50px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.type-pricing-check:hover{
    background-color: hsl(174, 77%, 80%);
}
.type-pricing-check input{
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.type-pricing-check .slider{
    width: 1em;
    height: 1em;
    border-radius: 50px;
    position: absolute;
    background-color: white;
    top: 3px;
    left: 4px;
    transition: all 0.5s;
}
.type-pricing-check input:checked + .slider{
    transform: translate(17px);
}
.characterist-page{
    border-top: 1px solid hsl(225, 20%, 80%);
    padding: 1em 0;
}
.characterist-page ul{
    padding: 1em 0 2em;
}
.characterist-page ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}
.characterist-page ul li img{
    width: 1em;
    height: 1em;
    margin-right: 1em;
}
.characterist-page ul li p{
    margin: 0.5em 0;
}
.characterist-page button{
    color: hsl(223, 50%, 87%);
    background-color: hsl(227, 35%, 25%);
    border: none;
    border-radius: 50px;
    padding: 1em 4em;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    margin-bottom: 1.5em;
}
.characterist-page button:hover{
    cursor: pointer;
    color: white;
}
@media screen and (min-width:950px) {
    .container{
        width: 500px;
    }
    .description-text{
        background-size: 25%;
        background-position: 50% 50%;
    }
    .description-text h1{
        font-size: 1.5em;
    }
    .description-text p{
        font-size: 12px;
    }
    .pricing-header{
        display: flex;
        padding: 1em 2em;
        justify-content: space-between;
    }
    .mount-pricing-mobile{
        display: none;
    }
    .mount-pricing-desktop{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .mount-pricing-desktop span:first-child,.mount-pricing-desktop span:nth-child(2){
        margin: 0;
    }
    .mount-pricing-desktop  span{
        font-size: 2.5em;
        color: black;
        font-weight: 800;
        margin-right: 10px;
    }
    .bar-type-pricing{
        margin: 0 3em;
    }
    .type-pricing{
        margin: 2em 2em 2em 7em;
        justify-content: center;
    }
    .type-pricing p{
        font-size: 10px;
    }
    .type-pricing p, .type-pricing div{
        margin: 0 10px;
    }
    .percent-desktop{
        display: flex;
        border: none;
        background-color: hsl(14, 92%, 95%);
        color: hsl(15, 100%, 70%);
        border-radius: 50px;
        padding: 3px 10px;
    }
    .type-pricing .percent-mobile{
        display: none;
    }
    .characterist-page{
        display: flex;
        justify-content: center;
        width: 100%;
        align-items: center;
    }
    .characterist-page ul li{
        display: flex;
        justify-content: start;
        align-items: center;
        padding-right: 5em;
    }
    .characterist-page ul li img{
        width: 0.5em;
        height: 0.5em;
    }
    .characterist-page button{
        padding: 1em 2em;
        font-size: 11px;
    }
}